HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# Ensure Docker files are included
!Dockerfile
!docker-compose.yml
!.dockerignore

# resource 무시
/src/main/resources/*.yml
# resources 디렉토리 내 파일 모두 무시
!/src/main/resources/static/**

# QueryDSL Q-Classes
build/
src/main/generated